html {
  border-style: box-boder;
}

body {
  display: flex;
  background-color: #08070b;
  border-style: inherit;
  font-size: 10px;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}